* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  font-size: inherit;
  font-weight: 400;
}
